@import "../../index";

.section-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    position: relative;
}

.hi {
    font-family: $font-family-mono;
    color: $foreground-tertiary;
    font-weight: $fw-normal;
    margin-bottom: 10px;
    font-size: clamp(#{$fz-sm}, 5vmin, #{$fz-md});
}

.name {
    color: $foreground-secondary;
    margin-bottom: 10px;
}

.i-build {
    color: $foreground-primary;
}