@import "../../index";

$bars-toggle-width: 768px;

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: $navbar-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem calc((100vw - 1000px) / 2);
  z-index: 10;
  font-family: $font-family-mono;
  transition: all $transition, transform 0.4s, height 0.2s;

  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px);

  &.hidden {
    transform: translateY(-100%);
  }

  &.shadow {
    box-shadow: 0 10px 30px -10px $shadow-primary;
  }

  &:not(.shadow) {
    height: calc(#{$navbar-height} * 1.3);
  }

  @media screen and (max-width: $bars-toggle-width) {

      &:not(.shadow) {
        height: fit-content;
      }

      flex-direction: column;
      height: fit-content;

      .nav-brand {
        margin-bottom: 20px;
      }

      .nav-bars {
        display: none;
      }

      .nav-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .nav-menu * {
        margin: 2px 0;
      }
  }

}

.nav-brand {
  color: $foreground-secondary;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 40px;
  cursor: pointer;

  img {
    height: 100%;
    width: auto;
  }
}

/*.nav-bars {
  display: none;

  @media screen and (max-width: $bars-toggle-width) {
    display: flex;
    width: 40px;
    height: 20px;
    margin: 0 1rem;

    cursor: pointer;

    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    .nav-bar {
      height: 2px;
      background-color: $foreground-tertiary;
      counter-increment: bar-width -10;

      &:nth-of-type(1) {
        width: 40px;
      }

      &:nth-of-type(2) {
        width: 30px;
      }

      &:nth-of-type(3) {
        width: 20px;
      }
    }

  }
}*/

.nav-menu {
  display: flex;
  align-items: center;

  /*@media screen and (max-width: $bars-toggle-width) {
    display: none;
  }*/

  counter-reset: nav-menu-item 0;

  .nav-link {
    color: $foreground-secondary;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    transition: $transition;
    font-size: $fz-sm;

    &:hover {
      color: $foreground-tertiary;
    }

    &::before {
      content: "0" counter(nav-menu-item) ".";
      color: $foreground-tertiary;
      margin-right: 5px;

      counter-increment: nav-menu-item 1;
    }
  }
}