@tailwind base;
@tailwind components;
@tailwind utilities;

$background-primary: #0a192f;
$background-secondary: #233044;
$foreground-primary: #ccd6f6;
$foreground-secondary: #8892b0;
$foreground-tertiary: #64ffda;
$color-alert: #f0932b;
$shadow-primary: rgba(2, 12, 27, 0.7);

$font-family-sans:
    "Calibre",
    "Inter",
    "San Francisco",
    "SF Pro Text",
    -apple-system,
    system-ui,
    sans-serif;
$font-family-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;

$fz-xxs: 12px;
$fz-xs: 13px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-xl: 20px;
$fz-xxl: 22px;
$fz-heading: 32px;
$fz-icon: 1.3rem;
$fz-icon-lg: 1.8rem;

$fw-xt: 100;
$fw-th: 200;
$fw-tn: 300;
$fw-normal: 400;
$fw-bn: 500;
$fw-bg: 600;
$fw-xb: 700;

$navbar-height: 70px;

$transition: 0.3s;

@font-face {
    font-family: "SF Mono";
    src: url("./assets/otf/SFMono-Regular.otf");
}

@font-face {
    font-family: "Calibre";
    src: url("./assets/otf/CalibreRegular.otf");
}

::selection {
    background-color: $foreground-tertiary;
    color: #0a192f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    scrollbar-width: thin;
    scrollbar-color: #495670 #0a192f;

    font-size: min(20px, 4vw);
}

body {
    width: 100%;
    min-height: 100%;

    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;

    background-color: $background-primary;
    color: $foreground-secondary;
    font-family: $font-family-sans;
}
